@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap');
 *{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.back{
    z-index:-1;
    position: relative;
    left:0px;
    top:-400px;
}
.svg{
  z-index:-1;
  width: fit-content;
}



:root {
    --text-color:#ffff;
    --background:#FF7400;
    
    
  }
 
  .header{
    display:flex;
    
    margin-left:2em;
    position:relative;
    
  }
  .back{
      position:relative;
      z-index:-1;
      top:-500px;
      left:0px;
  }

/* .nav-bar{
    display: flex;
     justify-content: space-between; 
    list-style: none;
} */
ul li{
    display:inline-block;
    /* margin-left: 12em; */
}
ul li a{
    
    font-size:1em;
    padding:0px 20px 0px 20px;
    color :#ffff;
}
.contact{
    position:relative;
    top:20px;
    left:195px;
}
.ic{
    padding:0px 0px 0px 101em;
}



 /* underline animation at hover on nav bar START */
 .nav-compts li,.nav-compts li::after{
    padding:10;
    margin: 0;
    box-sizing: border-box; 
} 
.nav-compts{
    display:flex;
    justify-content: space-evenly;
    align-items: baseline;
    align-content: stretch;
    flex-wrap: nowrap;
      
  }

  
 .nav-compts li{
    text-decoration: none;
    margin:0px 20px 0px 20px;
    position: relative;
  }
  .nav-compts li::after{
   
    content:"";
    position: absolute;
    height:3px;
    width:0%;
    bottom:-1px;
    left: 15px;
    background-color:#ff7b00;
    bottom: -10px;
   transition:1s;
    
  }
  .nav-compts li:hover::after{
    width: 50%;
  }
/* underline animation at hover on nav bar end  */
.nav-compts {
    color: #ffff;
    font-size: 2em;
  display: flex;
 margin-left: 12em;
  align-items: center;
  list-style: none;
}
#navbar a{
    text-decoration: none;
}

nav ul {
    padding: 0;
    display:flex;
    justify-content: space-between;
    list-style-type: none;
}
.nav-compts li{
    display:flex;
    justify-content: space-between;
}
nav li {
    display: inline-block;
    padding: 0px 20px 0px 20px;
 }
.content{
  margin-top:-150vh;
  display:grid;
  grid-template-columns:1fr 1fr;
}
.content-text{
    margin-top: 4em;
    color:#ffff;
    font-family: 'Nunito Sans', sans-serif;

}
.svg{
    position:relative;
    left:-25px;
}

  .button-cont{
      display:grid;
      grid-template-rows:1fr 1fr;
     
  }
  .header content a{
      color:#ffff;
  }
.header icons li{
    
        display: inline-block;
        padding: 20px 20px;
     
}
.header contact a,p{
    color: #ffff;
}
  
  .bt{
      display:grid;
      grid-template-columns:1fr 1fr;
  }
.nav-container{
    display:flex;
    justify-content:space-evenly;

}

  .button{
      text-align:center; 
      color:var(--text-color);
      background: var(--background);
      border: 1px solid #FF7400;
      padding:24px 44px;
      height:10vh;
      width:29vh;
      display:grid;
      grid-template-rows:1fr 1fr;
      font-family: 'Nunito Sans', sans-serif;
      border-radius:10px;
      font-size: xx-large; 
      font-weight:bold;
      margin-right:10px;
  }
  
  .button:hover{
      transition:delay 0.5s;
      transition-timing-function: ease;
      background:transparent;
  }
  #cloud1,#cloud2{
    animation:move 4s ease-in-out infinite alternate;
   }
   #small-cloud{
       animation:move2 5s ease-in-out infinite alternate;
   }
   #plant2{
       animation:move2 2s ease-in-out infinite alternate;
       transform-origin:bottom;
       transform-box:fill-box;
   }
   #plant1,#leaf2_10,#leaf2_9{
       animation:move3 2s ease-in-out infinite alternate;
       transform-origin:bottom;
       transform-box:fill-box;
   }
   #tree1{
       animation:move4 3s ease-in-out infinite alternate; 
       transform-origin:top;
       transform-box:fill-box; 
   }
   @keyframes move {
       from{
       transform:translateX(0%) translateY(0%);
       }
       to{
           transform:translateX(2%) translateY(1%);
       }
   }
   @keyframes move2 {
       from{
       transform:translateX(0%) translateY(0%);
       }
       to{
           transform:translateX(2%) translateY(3%);
       }
   }
   @keyframes move3 {
       from{
       transform:translateX(0%) translateY(0%);
       }
       to{
           transform:translateX(1%) translateY(3%);
       }
   }
   @keyframes move4 {
       from{
       transform:translateX(0%) translateY(0%);
       }
       to{
           transform:translateX(3%) translateY(1%);
       }
   }
p{
    color:rgb(152,110,110);
    word-wrap: break-word;
    padding-top:40px;
    font-size:larger;
    line-height:40px;
    text-decoration: solid;
}
.feature{
    margin-top:400px;
    margin-bottom:100px;
    width:100%;
    height:500px;
    border:5px solid transparent;
    display:flex;
    margin-left:10px;
    justify-content:center;


}
.card{
 padding:45px;
 font-family: 'Nunito Sans', sans-serif;
 width:20%;
 height:100%;
 border:5px solid transparent;
 margin-left:50px;
 border-radius: 5px;
 box-shadow: 7px 5px 30px rgb(72 73 121 / 15%);
}
#avatar{
    height:150px;
    width:150px;margin-left: 90px;
    border-radius: 50%;
    background-color:#faebd7;
    align-self: center;
}
#text_card{
   text-align:center;
    padding-top:40px;
    padding-left: 15px;
    padding-right: 15px;
}
/* intro section */
.intro-contaner{
    display:grid;
    grid-template-columns:1fr 1fr;
    
}
#svg-section{
    width:fit-content;
    margin: 20px 20px 20px 30%;
}
#intro-text-section{
    width:40%;
    align-items:center;
    justify-content: center;
    margin: 20px 20px 20px 4%;
    font-family: 'Nunito Sans', sans-serif;
    
}
#heading{
    font-weight:bolder;
    font-size:2.5em;
    word-wrap: break-word;
    text-align:left;


}
#peragraph{
    font-weight: bold;
    padding-top:40px;
    font-size: 1.05rem;
    color:gray;
    padding-right: 15px;
}
#counter{
    margin-top:34%;
    align-items:end;
    display:grid;
    grid-template-columns:1fr 1fr;
}
 