@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap');
 *{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} 
.svg{
  z-index:-1;
}



:root {
    --text-color:#ffff;
    --background:#FF7400;
    
    
  }
  .header{
    display:grid;
    grid-template-columns:1fr 1fr 2fr;
    margin-left:2em;
    position:relative;
    
  }
.
  {
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.nav-compts {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.content{
  margin-top:10vh;
  display:grid;
  grid-template-columns:1fr 1fr;
  
}

  .button-cont{
      display:grid;
      grid-template-columns:1fr 1fr;
      grid-template-rows: 2fr;
      
  }


  .button{
      text-align:center; 
      color:var(--text-color);
      background: var(--background);
      border: 1px solid #FF7400;
      padding:24px 44px;
      height:10vh;
      width:29vh;
      font-family: 'Nunito Sans', sans-serif;
      border-radius:10px;
      font-size: xx-large; 
      font-weight:bold;
      margin-right:10px;
  }
  .button:hover{
      transition:delay 0.5s;
      transition-timing-function: ease;
      background:transparent;
  }
  #cloud1,#cloud2{
    animation:move 4s ease-in-out infinite alternate;
   }
   #small-cloud{
       animation:move2 5s ease-in-out infinite alternate;
   }
   #plant2{
       animation:move2 2s ease-in-out infinite alternate;
       transform-origin:bottom;
       transform-box:fill-box;
   }
   #plant1,#leaf2_10,#leaf2_9{
       animation:move3 2s ease-in-out infinite alternate;
       transform-origin:bottom;
       transform-box:fill-box;
   }
   #tree1{
       animation:move4 3s ease-in-out infinite alternate; 
       transform-origin:top;
       transform-box:fill-box; 
   }
   @keyframes move {
       from{
       transform:translateX(0%) translateY(0%);
       }
       to{
           transform:translateX(2%) translateY(1%);
       }
   }
   @keyframes move2 {
       from{
       transform:translateX(0%) translateY(0%);
       }
       to{
           transform:translateX(2%) translateY(3%);
       }
   }
   @keyframes move3 {
       from{
       transform:translateX(0%) translateY(0%);
       }
       to{
           transform:translateX(1%) translateY(3%);
       }
   }
   @keyframes move4 {
       from{
       transform:translateX(0%) translateY(0%);
       }
       to{
           transform:translateX(3%) translateY(1%);
       }
   }
